*{box-sizing:border-box;font-family:Arial}
body{margin:0;background:#0b0b0b;color:white}

.screen{padding:20px}
.hidden{display:none}

h2{text-align:center;color:#e6007e}

input,select,button{
width:100%;padding:10px;margin-bottom:12px;
border-radius:10px;border:none;font-size:16px
}

input,select{background:#1a1a1a;color:white}

button{
background:#e6007e;
color:white;
font-weight:bold;
box-shadow:0 4px 12px #000;
}

button:active{transform:scale(.96)}

.grid-menu{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

.grid-menu button{
height:90px;
border-radius:16px;
background:linear-gradient(145deg,#ff4fa3,#c10064);
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
gap:12px;
}

.card{
background:#1a1a1a;
border-radius:14px;
padding:12px;
box-shadow:0 6px 14px #000;
font-size:14px;
}
